# Sofiya Ibrayeva
## Milestone 1 - Final Project

In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

In [63]:
ls

CardioGoodFitness.csv
Ibrayeva_PandasChallenge.csv
Ibrayeva_PandasChallenge.ipynb
PandasInClass_Ibrayeva.ipynb
Salary Data.csv
Spotify_Montero_data.json
Untitled.ipynb
Widgets_challenge.ipynb
amazon_2024_valentines_best_sellers.csv
cces_example_data copy.csv
cces_example_data.csv
chessbuds_messages.json
commute.csv
cricket.csv
ibrayeva_SystemsCheck.ipynb
in class_4.ipynb
in class_week3.ipynb
in class_week4.ipynb
inclass_reddit.ipynb
jobs_in_data.csv
library.xlsx
matplotlib Challenge_Ibrayeva.ipynb
matplotlib_inclass.ipynb
plotly pt 2_Ibrayeva.ipynb
plotlychallege_Ibrayeva.ipynb
pokedex.csv
reddit_data_example.csv
seaborn_Group2.ipynb
seaborn_test.ipynb
spotify.csv
subset_cces_example_data.csv
tidyChallenge_Ibrayeva.ipynb
wq.csv
~$library.xlsx

In [64]:
dlibrary = pd.read_excel('library.xlsx')
dlibrary.head()

,RECORD #(Item),TITLE,Last Checkout (date borrowed),Last Check In (date returned),Total Checkouts,Total Renewals,LC Classification,Pub Year 1,Pub Year 2,Pub Year 3,Pub Year 4
0,i35192963,Translation and relevance : cognition and cont...,2022-11-30 19:57:05,2023-12-05,26,19,P306,"St. Jerome Pub., 2000",NaN,NaN,NaN
1,i32296290,880-02 Mama no hanashi / Uno Chiyo,2022-09-22 12:50:23,2023-02-14,7,0,PL840.N58,ShÅwa 51 1976,NaN,NaN,NaN
2,i37443136,The Cambridge companion to gothic fiction / ed...,2023-10-12 11:02:33,2023-10-16,16,17,PR830.T3,New York : 2002,NaN,NaN,NaN
3,i21687456,The ruling passion : tales of nature and human...,2023-03-10 13:43:13,2023-03-11,1,0,PS3117 .R8 1901,MDCCCCI 1901,NaN,NaN,NaN
4,i44856581,"Disability, health, and happiness in the Shake...",2022-11-21 11:26:16,2022-12-20,7,21,PR3069.B58,London : 2015,NaN,NaN,NaN

## Data Cleaning process:
* Format the date in the Last Checkout Column;
* Transform thr LC Classification Column by utilizing the dictionary;
* Extract the published year from the Pub year 1 column;
* Calculate the Dats on Loan (Checked in date minus Checked out date);
* Drop unnecessary columns.

### 1. Data Exploration

In [65]:
dlibrary.keys()

Index(['RECORD #(Item)', 'TITLE', 'Last Checkout (date borrowed)',
       'Last Check In (date returned)', 'Total Checkouts', 'Total Renewals',
       'LC Classification', 'Pub Year 1', 'Pub Year 2', 'Pub Year 3',
       'Pub Year 4'],
      dtype='object')

In [66]:
dlibrary['LC Classification']

0                   P306
1              PL840.N58
2               PR830.T3
3        PS3117 .R8 1901
4             PR3069.B58
              ...
17768              GE195
17769           CB3 .V53
17770           BF637.C4
17771                 Z6
17772         Z2016 .W74
Name: LC Classification, Length: 17773, dtype: object

In [67]:
dlibrary.isnull().sum()

RECORD #(Item)                       0
TITLE                                0
Last Checkout (date borrowed)        0
Last Check In (date returned)        0
Total Checkouts                      0
Total Renewals                       0
LC Classification                   18
Pub Year 1                         164
Pub Year 2                        9616
Pub Year 3                       17620
Pub Year 4                       17767
dtype: int64

#### We can see that Pub Year 2 , Pub Year3 , Pub Year4 have a lot of missing values, so we can drop these columns

In [68]:
dlibrary.describe()

,Last Checkout (date borrowed),Last Check In (date returned),Total Checkouts,Total Renewals
count,17773,17773,17773.000000,17773.000000
mean,2023-01-04 12:41:50.407021824,2023-03-30 03:19:18.813931264,10.600180,8.709278
min,2022-01-03 10:21:15,2022-01-07 00:00:00,0.000000,0.000000
25%,2022-07-20 12:02:33,2022-10-24 00:00:00,3.000000,1.000000
50%,2023-01-10 10:46:11,2023-04-14 00:00:00,7.000000,5.000000
75%,2023-07-03 10:00:18,2023-10-02 00:00:00,14.000000,12.000000
max,2024-03-20 10:12:50,2024-03-23 00:00:00,489.000000,278.000000
std,NaN,NaN,12.518262,11.466709

In [69]:
# Creating a new column 'First_Letter' by extracting the first letter of the LC Classification
dlibrary['First_Letter'] = dlibrary['LC Classification'].apply(lambda x: x[0] if pd.notna(x) else '')
dlibrary.head()

,RECORD #(Item),TITLE,Last Checkout (date borrowed),Last Check In (date returned),Total Checkouts,Total Renewals,LC Classification,Pub Year 1,Pub Year 2,Pub Year 3,Pub Year 4,First_Letter
0,i35192963,Translation and relevance : cognition and cont...,2022-11-30 19:57:05,2023-12-05,26,19,P306,"St. Jerome Pub., 2000",NaN,NaN,NaN,P
1,i32296290,880-02 Mama no hanashi / Uno Chiyo,2022-09-22 12:50:23,2023-02-14,7,0,PL840.N58,ShÅwa 51 1976,NaN,NaN,NaN,P
2,i37443136,The Cambridge companion to gothic fiction / ed...,2023-10-12 11:02:33,2023-10-16,16,17,PR830.T3,New York : 2002,NaN,NaN,NaN,P
3,i21687456,The ruling passion : tales of nature and human...,2023-03-10 13:43:13,2023-03-11,1,0,PS3117 .R8 1901,MDCCCCI 1901,NaN,NaN,NaN,P
4,i44856581,"Disability, health, and happiness in the Shake...",2022-11-21 11:26:16,2022-12-20,7,21,PR3069.B58,London : 2015,NaN,NaN,NaN,P

In [70]:
# Defining  dictionary for the classification
classification_dict = {
    'A': 'General Works',
    'B': 'Philosophy, Psychology, Religion',
    'C': 'Auxiliary Sciences of History',
    'D': 'World History',
    'E': 'History of the Americas',
    'F': 'History of the Americas',
    'G': 'Geography, Anthropology, Recreation',
    'H': 'Social Sciences',
    'J': 'Political Science',
    'K': 'Law',
    'L': 'Education',
    'M': 'Music and Books on Music',
    'N': 'Fine Arts',
    'P': 'Language and Literature',
    'Q': 'Science',
    'R': 'Medicine',
    'S': 'Agriculture',
    'T': 'Technology',
    'U': 'Military Science',
    'V': 'Naval Science',
    'Z': 'Bibliography, Library Science'
}

# Using the First_Letter column to map out the classification type
dlibrary['Class_of_Books'] = dlibrary['First_Letter'].map(classification_dict)

dlibrary.head()

,RECORD #(Item),TITLE,Last Checkout (date borrowed),Last Check In (date returned),Total Checkouts,Total Renewals,LC Classification,Pub Year 1,Pub Year 2,Pub Year 3,Pub Year 4,First_Letter,Class_of_Books
0,i35192963,Translation and relevance : cognition and cont...,2022-11-30 19:57:05,2023-12-05,26,19,P306,"St. Jerome Pub., 2000",NaN,NaN,NaN,P,Language and Literature
1,i32296290,880-02 Mama no hanashi / Uno Chiyo,2022-09-22 12:50:23,2023-02-14,7,0,PL840.N58,ShÅwa 51 1976,NaN,NaN,NaN,P,Language and Literature
2,i37443136,The Cambridge companion to gothic fiction / ed...,2023-10-12 11:02:33,2023-10-16,16,17,PR830.T3,New York : 2002,NaN,NaN,NaN,P,Language and Literature
3,i21687456,The ruling passion : tales of nature and human...,2023-03-10 13:43:13,2023-03-11,1,0,PS3117 .R8 1901,MDCCCCI 1901,NaN,NaN,NaN,P,Language and Literature
4,i44856581,"Disability, health, and happiness in the Shake...",2022-11-21 11:26:16,2022-12-20,7,21,PR3069.B58,London : 2015,NaN,NaN,NaN,P,Language and Literature

In [71]:
#Splitting the Pub Year 1 into 2 column to extract the year by the ":" divider indicator

dlibrary[['Place', 'Year Published']] = dlibrary['Pub Year 1'].str.split(':', expand=True)

dlibrary['Place'] = dlibrary['Place'].str.strip()
dlibrary['Year Published'] = dlibrary['Year Published'].str.strip()

# Converting Year to numeric type
dlibrary['Year Published'] = pd.to_numeric(dlibrary['Year Published'], errors='coerce')

dlibrary.head()

,RECORD #(Item),TITLE,Last Checkout (date borrowed),Last Check In (date returned),Total Checkouts,Total Renewals,LC Classification,Pub Year 1,Pub Year 2,Pub Year 3,Pub Year 4,First_Letter,Class_of_Books,Place,Year Published
0,i35192963,Translation and relevance : cognition and cont...,2022-11-30 19:57:05,2023-12-05,26,19,P306,"St. Jerome Pub., 2000",NaN,NaN,NaN,P,Language and Literature,"St. Jerome Pub., 2000",NaN
1,i32296290,880-02 Mama no hanashi / Uno Chiyo,2022-09-22 12:50:23,2023-02-14,7,0,PL840.N58,ShÅwa 51 1976,NaN,NaN,NaN,P,Language and Literature,ShÅwa 51 1976,NaN
2,i37443136,The Cambridge companion to gothic fiction / ed...,2023-10-12 11:02:33,2023-10-16,16,17,PR830.T3,New York : 2002,NaN,NaN,NaN,P,Language and Literature,New York,2002.0
3,i21687456,The ruling passion : tales of nature and human...,2023-03-10 13:43:13,2023-03-11,1,0,PS3117 .R8 1901,MDCCCCI 1901,NaN,NaN,NaN,P,Language and Literature,MDCCCCI 1901,NaN
4,i44856581,"Disability, health, and happiness in the Shake...",2022-11-21 11:26:16,2022-12-20,7,21,PR3069.B58,London : 2015,NaN,NaN,NaN,P,Language and Literature,London,2015.0

#### As we can see, this approach did not work for this dataset, since the Pub Year 1 column doesn't have the same formatting in every row. We will try a different approach to extract omly the numeric values without anydividing indicators

In [72]:

# Defining a regular expression pattern that would  matche numeric values for the year
pattern = r'\b(\d{4})\b'  # Matches a 4-digit year

# Using `str.extract` to extract the year using the pattern
dlibrary['Year Published'] = dlibrary['Pub Year 1'].str.extract(pattern)

dlibrary['Year Published'] = pd.to_numeric(dlibrary['Year Published'], errors='coerce')

dlibrary.head()

,RECORD #(Item),TITLE,Last Checkout (date borrowed),Last Check In (date returned),Total Checkouts,Total Renewals,LC Classification,Pub Year 1,Pub Year 2,Pub Year 3,Pub Year 4,First_Letter,Class_of_Books,Place,Year Published
0,i35192963,Translation and relevance : cognition and cont...,2022-11-30 19:57:05,2023-12-05,26,19,P306,"St. Jerome Pub., 2000",NaN,NaN,NaN,P,Language and Literature,"St. Jerome Pub., 2000",2000.0
1,i32296290,880-02 Mama no hanashi / Uno Chiyo,2022-09-22 12:50:23,2023-02-14,7,0,PL840.N58,ShÅwa 51 1976,NaN,NaN,NaN,P,Language and Literature,ShÅwa 51 1976,1976.0
2,i37443136,The Cambridge companion to gothic fiction / ed...,2023-10-12 11:02:33,2023-10-16,16,17,PR830.T3,New York : 2002,NaN,NaN,NaN,P,Language and Literature,New York,2002.0
3,i21687456,The ruling passion : tales of nature and human...,2023-03-10 13:43:13,2023-03-11,1,0,PS3117 .R8 1901,MDCCCCI 1901,NaN,NaN,NaN,P,Language and Literature,MDCCCCI 1901,1901.0
4,i44856581,"Disability, health, and happiness in the Shake...",2022-11-21 11:26:16,2022-12-20,7,21,PR3069.B58,London : 2015,NaN,NaN,NaN,P,Language and Literature,London,2015.0

In [73]:
# Converting the date columns to datetime data type using `pd.to_datetime`
dlibrary['Last Checkout (date borrowed)'] = pd.to_datetime(dlibrary['Last Checkout (date borrowed)'])
dlibrary['Last Check In (date returned)'] = pd.to_datetime(dlibrary['Last Check In (date returned)'])

# Defining a function to format the dates according to the desired format
def format_date(date):
    if pd.notnull(date):
        return date.strftime('%Y-%m-%d')
    return None

dlibrary['Last Checkout (date borrowed)'] = dlibrary['Last Checkout (date borrowed)'].apply(format_date)
dlibrary['Last Check In (date returned)'] = dlibrary['Last Check In (date returned)'].apply(format_date)

dlibrary.head()

,RECORD #(Item),TITLE,Last Checkout (date borrowed),Last Check In (date returned),Total Checkouts,Total Renewals,LC Classification,Pub Year 1,Pub Year 2,Pub Year 3,Pub Year 4,First_Letter,Class_of_Books,Place,Year Published
0,i35192963,Translation and relevance : cognition and cont...,2022-11-30,2023-12-05,26,19,P306,"St. Jerome Pub., 2000",NaN,NaN,NaN,P,Language and Literature,"St. Jerome Pub., 2000",2000.0
1,i32296290,880-02 Mama no hanashi / Uno Chiyo,2022-09-22,2023-02-14,7,0,PL840.N58,ShÅwa 51 1976,NaN,NaN,NaN,P,Language and Literature,ShÅwa 51 1976,1976.0
2,i37443136,The Cambridge companion to gothic fiction / ed...,2023-10-12,2023-10-16,16,17,PR830.T3,New York : 2002,NaN,NaN,NaN,P,Language and Literature,New York,2002.0
3,i21687456,The ruling passion : tales of nature and human...,2023-03-10,2023-03-11,1,0,PS3117 .R8 1901,MDCCCCI 1901,NaN,NaN,NaN,P,Language and Literature,MDCCCCI 1901,1901.0
4,i44856581,"Disability, health, and happiness in the Shake...",2022-11-21,2022-12-20,7,21,PR3069.B58,London : 2015,NaN,NaN,NaN,P,Language and Literature,London,2015.0

In [77]:
# Creating the "days on Loan" column
# Calculateing the number of days the book has been on loan 
dlibrary['Days on Loan'] = dlibrary['Last Check In (date returned)'] - dlibrary['Last Checkout (date borrowed)']

dlibrary['Days on Loan'] = dlibrary['Days on Loan'].dt.days

dlibrary.head()

,RECORD #(Item),TITLE,Last Checkout (date borrowed),Last Check In (date returned),Total Checkouts,Total Renewals,LC Classification,Pub Year 1,Pub Year 2,Pub Year 3,Pub Year 4,First_Letter,Class_of_Books,Place,Year Published,Days on Loan
0,i35192963,Translation and relevance : cognition and cont...,2022-11-30,2023-12-05,26,19,P306,"St. Jerome Pub., 2000",NaN,NaN,NaN,P,Language and Literature,"St. Jerome Pub., 2000",2000.0,370
1,i32296290,880-02 Mama no hanashi / Uno Chiyo,2022-09-22,2023-02-14,7,0,PL840.N58,ShÅwa 51 1976,NaN,NaN,NaN,P,Language and Literature,ShÅwa 51 1976,1976.0,145
2,i37443136,The Cambridge companion to gothic fiction / ed...,2023-10-12,2023-10-16,16,17,PR830.T3,New York : 2002,NaN,NaN,NaN,P,Language and Literature,New York,2002.0,4
3,i21687456,The ruling passion : tales of nature and human...,2023-03-10,2023-03-11,1,0,PS3117 .R8 1901,MDCCCCI 1901,NaN,NaN,NaN,P,Language and Literature,MDCCCCI 1901,1901.0,1
4,i44856581,"Disability, health, and happiness in the Shake...",2022-11-21,2022-12-20,7,21,PR3069.B58,London : 2015,NaN,NaN,NaN,P,Language and Literature,London,2015.0,29

In [78]:
#Dropping specified columns since they will not be needed in the further analysis
columns_to_drop = ['LC Classification', 'Pub Year 1', 'Pub Year 2', 'Pub Year 3', 'Pub Year 4', 'First_Letter', 'Place']

dlibrary = dlibrary.drop(columns=columns_to_drop)

dlibrary.head()

,RECORD #(Item),TITLE,Last Checkout (date borrowed),Last Check In (date returned),Total Checkouts,Total Renewals,Class_of_Books,Year Published,Days on Loan
0,i35192963,Translation and relevance : cognition and cont...,2022-11-30,2023-12-05,26,19,Language and Literature,2000.0,370
1,i32296290,880-02 Mama no hanashi / Uno Chiyo,2022-09-22,2023-02-14,7,0,Language and Literature,1976.0,145
2,i37443136,The Cambridge companion to gothic fiction / ed...,2023-10-12,2023-10-16,16,17,Language and Literature,2002.0,4
3,i21687456,The ruling passion : tales of nature and human...,2023-03-10,2023-03-11,1,0,Language and Literature,1901.0,1
4,i44856581,"Disability, health, and happiness in the Shake...",2022-11-21,2022-12-20,7,21,Language and Literature,2015.0,29

## Now the dataset follows the tidy data principles and we can start the exploratory analysis

#### The provided dataset has some limitations (lack of historical checkout dates and a limited amount of data regarding each item) because the library only stores the last check out and check in dates. So, my intended plan for analyzing patterns of book check-ins during midterm and final exam periods to understand student usage behavior better can't be accomplished. Instead, I calculated the number of loan days per book, as well as i have information about total checkouts and total renewals numbers. I think these variables will be sufficient enough for me to identify the most checked-in books and the overall popularity trends within the library. I am still in the process of researching different approaches i can take for my analysis and visualization, but i definetly want to focus on the4 following points:
* Average Loan Duration
* Analyzing Checkouts and Renewals
* Identifying Book Genres Popularity